{% extends 'base.html' %} 

{% load static %} 

{% block content %}

<link rel="stylesheet" href="{% static '/style/solarSistemaVia.css' %}" />
<link rel="stylesheet" href="{% static 'style/forms.css' %}">

<h1 id="encabezado">Sistema solar</h1>

<h2 id="subEncabezado">Inicio del sistema solar</h2>

<div class="contenido">
    <p class="parrafo">
        El sistema solar es el sistema planetario que liga gravitacionalmente a un conjunto de objetos astronómicos que giran directa o indirectamente en una órbita alrededor de una única estrella conocida con el nombre de Sol.
    </p>

    <p>
        La estrella concentra el 99,86 % de la masa del sistema solar,y la mayor parte de la masa restante se concentra en ocho planetas cuyas órbitas son prácticamente circulares y transitan dentro de un disco casi llano llamado plano eclíptico.Los cuatro planetas más cercanos, considerablemente más pequeños, Mercurio, Venus, Tierra y Marte, también conocidos como los planetas terrestres, están compuestos principalmente por roca y metal.Mientras que los cuatro más alejados, denominados gigantes gaseosos o «planetas jovianos», más masivos que los terrestres, están compuestos de hielo y gases. Los dos más grandes, Júpiter y Saturno, están compuestos principalmente de helio e hidrógeno. Urano y Neptuno, denominados gigantes helados, están formados mayoritariamente por agua congelada, amoniaco y metano.
    </p>

    <h2 class="subEncabezado2">
        Formación
    </h2>

    <p class="parrafo">
    Se estima que la formación y evolución del sistema solar comenzó hace unos
    4600 millones de años con el colapso gravitacional de una pequeña parte de
    una nube molecular gigante. La mayor parte de la masa colapsante se reunió
    en el centro, formando el Sol, mientras que el resto se aplanó en un disco
    protoplanetario a partir del cual se formaron los planetas, satélites,
    asteroides y otros cuerpos menores del sistema solar.
  </p>

  <p class="parrafo">
    Este modelo ampliamente aceptado, conocido como la hipótesis nebular, fue
    desarrollado por primera vez en el siglo xviii por Emanuel Swedenborg,
    Immanuel Kant y Pierre-Simon Laplace. Su desarrollo posterior ha entretejido
    una variedad de disciplinas científicas como la astronomía, la física, la
    geología y las ciencias planetarias. Desde los albores de la era espacial en
    1950 y el descubrimiento de planetas extrasolares en la década de 1990, el
    modelo ha sido desafiado y refinado para incorporar las nuevas
    observaciones.
  </p>

  <p class="parrafo">
    El sistema solar evolucionó mucho desde su formación inicial. Muchas lunas
    se formaron a partir de discos de gas y polvo circulares alrededor de los
    planetas a los que pertenecen, mientras se cree que otras lunas se formaron
    de manera independiente y más tarde fueron capturadas por sus planetas.
    Todavía otras, como la Luna de la Tierra, pueden ser el resultado de
    colisiones gigantes. Estas colisiones entre cuerpos aún se producen y han
    sido fundamentales para la evolución del sistema solar. Las posiciones de
    los planetas se desplazaron con frecuencia. Ahora se cree que esta migración
    planetaria fue responsable de gran parte de la evolución temprana del
    sistema solar.
  </p>

  <h2 class="subEncabezado2">Caracteristicas generales</h2>

  <p>
    Los planetas y los asteroides orbitan alrededor del Sol, aproximadamente en un mismo plano y siguiendo órbitas elípticas (en sentido antihorario, si se observasen desde el Polo Norte del Sol); aunque hay excepciones, como el cometa Halley, que gira en sentido horario. El plano en el que gira la Tierra alrededor del Sol se denomina plano de la eclíptica, y los demás planetas orbitan aproximadamente en el mismo plano. Aunque algunos objetos orbitan con un gran grado de inclinación respecto de este, como Plutón que posee una inclinación con respecto al eje de la eclíptica de 17.º, así como una parte importante de los objetos del cinturón de Kuiper.
    <br>Según sus características, los cuerpos que forman parte del sistema solar se clasifican como sigue:
  </p>

  <p>
    <ul>
      <li>El Sol, una estrella de tipo espectral G2 que contiene más del 99,86 % de la masa del sistema. Con un   diámetro de 1 400 000 km, se compone de un 75 % de hidrógeno, un 20 % de helio y 5 % de oxígeno, carbono, hierro y otros elementos.</li>

      <li>Los planetas, divididos en planetas interiores (también llamados terrestres o telúricos) y planetas exteriores o gigantes. Entre estos últimos, Júpiter y Saturno se denominan gigantes gaseosos, mientras que Urano y Neptuno suelen nombrarse gigantes helados. Todos los planetas gigantes tienen a su alrededor anillos.</li>
      
      <li>Los planetas enanos son cuerpos cuya masa les permite tener forma esférica, pero no es la suficiente como para haber atraído o expulsado a todos los cuerpos a su alrededor. Son: Plutón (hasta 2006 era considerado el noveno planeta del sistema solar), Ceres, Makemake, Eris y Haumea.</li>
      
      <li>Los satélites son cuerpos mayores que orbitan los planetas; algunos son de gran tamaño, como la Luna, en la Tierra; Ganímedes, en Júpiter, o Titán, en Saturno.</li>
    
      <li>Los cuerpos menores constituyen el resto de objetos celestes y según la definición de la UAI se subdividen en <br>
        <ul>
          <li>Los asteroides son cuerpos menores concentrados mayoritariamente en el cinturón de asteroides entre las órbitas de Marte y Júpiter. Su tamaño varia entre los 50 m hasta los 1000 km de diámetro.</li>
          <li>Los objetos transneptunianos son objetos helados de órbitas estables pertenecientes a la zona exterior del sistema solar. Se ubican en regiones como el cinturón de Kuiper, el disco disperso y la nube de Oort.</li>
          <li>Los cometas son objetos helados pequeños conformados por hielo, polvo y rocas. Generalmente poseen órbitas muy excéntricas. Tienen su origen en el cinturón de Kuiper y la nube de Oort.</li>
          <li>Los meteoroides son objetos menores de 50 m de diámetro, pero mayores que las partículas de polvo cósmico. Suelen ser fragmentos de cometas, asteroides y objetos más grandes.</li>
          </ul>
      </li>
    </ul>
  </p>

  <p>
    El espacio interplanetario en torno al Sol contiene material disperso procedente de la evaporación de cometas y del escape de material proveniente de los diferentes cuerpos masivos. El polvo interplanetario (especie de polvo interestelar) está compuesto de partículas microscópicas sólidas. El gas interplanetario es un tenue flujo de gas y partículas cargadas que forman un plasma que es expulsado por el Sol en el viento solar. El límite exterior del sistema solar se define a través de la región de interacción entre el viento solar y el medio interestelar originado de la interacción con otras estrellas. La región de interacción entre ambos vientos se denomina heliopausa y determina los límites de influencia del Sol. La heliopausa puede encontrarse a unas 100 UA (15 000 millones de kilómetros del Sol).
  </p>

  <p>
    Los sistemas planetarios detectados alrededor de otras estrellas parecen muy diferentes del sistema solar, si bien con los medios disponibles solo es posible detectar algunos planetas de gran masa en torno a otras estrellas. Por tanto, no parece posible determinar hasta qué punto el sistema solar es característico o atípico entre los sistemas planetarios del universo.
  </p>

  <h2>Responder el cuestonario</h2>
  
</div>



<aside id="aside">
  <table class="tablano1">
    <thead>
      <tr >
        <th class="EncabezadoTabla" colspan="2">Sistema solar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="contenedorImagen" colspan="2">
          <img
            class="imagen"
            src="{% static '/style/img/sistemaSolar.jpg' %}"
            alt=""/>
        </th>
      </tr>
      <tr>
        <th class="EncabezadoTabla" colspan="2">Datos Generales</th>
      </tr>
      <tr>
        <th>Edad</th>
        <th>4568 millones de años</th>
      </tr>
      <tr>
        <th>Localización</th>
        <th >Nube Interestelar Local, Burbuja Local, Brazo de Orión, Vía Láctea</th>
      </tr>
      <tr>
        <th>Estrella mas cercana</th>
        <th>Próxima Centauri(4,22 al)</th>
      </tr>
      <tr>
        <th>Sistema planetario conocido más cercano</th>
        <th>Alfa Centauri(4,37 al)</th>
      </tr>
      <tr>
        <th class="EncabezadoTabla" colspan="2">Sistema planetario</th>
      </tr>
      <tr>
        <th>Semieje mayor al planeta exterior (Neptuno)</th>
        <th>4500 millones de kilómetros (30,10 UA)</th>
      </tr>
      <tr>
        <th>Distancia al acantilado de Kuiper</th>
        <th>50 AU</th>
      </tr>
      <tr>
        <th>N.º de estrellas conocidas</th>
        <th>1 (SOL)</th>
      </tr>
      <tr>
        <th>N.º de planetas conocidos</th>
        <th>8</th>
      </tr>
      <tr>
        <th>N.º conocido de planetas enanos</th>
        <th>5 (docenas pendientes de aceptación)</th>
      </tr>
      <tr>
        <th>N.º conocido de satélites naturales</th>
        <th>400 (176 de los planetas)</th>
      </tr>
      <tr>
        <th>N.º conocido de planetas menores</th>
        <th>587 479</th>
      </tr>
      <tr>
        <th>N.º conocido de cometas</th>
        <th>3153</th>
      </tr>
      <tr>
        <th>N.º de satélites asteroidales</th>
        <th>19</th>
      </tr>
      <tr>
        <th class="EncabezadoTabla" colspan="2">Órbita alrededor del centro galáctico</th>
      </tr>
      <tr>
        <th>Inclinación del plano invariable respecto al plano galáctico</th>
        <th>60°</th>
      </tr>
      <tr>
        <th>Distancia al centro galáctico</th>
        <th>27 000±1 000 al</th>
      </tr>
      <tr>
        <th>Velocidad orbital</th>
        <th>220 km/s</th>
      </tr>
      <tr>
        <th>Periodo orbital</th>
        <th>225-250 Ma</th>
      </tr>
      <tr>
        <th class="EncabezadoTabla" colspan="2">Propiedades de la estrella relacionada</th>
      </tr>
      <tr>
        <th>Tipo espectral</th>
        <th>G2V</th>
      </tr>
      <tr>
        <th>Línea de congelamiento</th>
        <th>2,7 UA</th>
      </tr>
      <tr>
        <th>Distancia a la heliopausa</th>
        <th>~120 UA</th>
      </tr>
      <tr>
        <th>Esfera de Hill</th>
        <th>~1-2 al</th>
      </tr>
    </tbody>
  </table>

    <h2 class="subEncabezado2">Datos de los planetas</h2>
    <table class="tablano2">
      <thead>
        <tr class="encabezado-tabla-sistema">
          <th class="encabezado-tabla-sistema" >Planeta</th>
          <th class="encabezado-tabla-sistema" >Diámetro (km)</th>
          <th class="encabezado-tabla-sistema" >Masa (kg)</th>
          <th class="encabezado-tabla-sistema" >Distancia media al Sol (km)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mercurio</td>
          <td>4,879</td>
          <td>3.3011 × 10^23</td>
          <td>57,910,000</td>
        </tr>
        <tr>
          <td>Venus</td>
          <td>12,104</td>
          <td>4.8675 × 10^24</td>
          <td>108,200,000</td>
        </tr>
        <tr>
          <td>Tierra</td>
          <td>12,742</td>
          <td>5.972 × 10^24</td>
          <td>149,600,000</td>
        </tr>
        <tr>
          <td>Marte</td>
          <td>6,779</td>
          <td>6.39 × 10^23</td>
          <td>227,940,000</td>
        </tr>
        <tr>
          <td>Júpiter</td>
          <td>139,820</td>
          <td>1.898 × 10^27</td>
          <td>778,330,000</td>
        </tr>
        <tr>
          <td>Saturno</td>
          <td>116,460</td>
          <td>5.683 × 10^26</td>
          <td>1,427,000,000</td>
        </tr>
        <tr>
          <td>Urano</td>
          <td>50,724</td>
          <td>8.681 × 10^25</td>
          <td>2,870,990,000</td>
        </tr>
        <tr>
          <td>Neptuno</td>
          <td>49,244</td>
          <td>1.024 × 10^26</td>
          <td>4,498,250,000</td>
        </tr>
      </tbody>
    </table>
</aside>


<form class="forms-class" method="POST" >
  {% csrf_token %}
  {{form.as_p}}
  <button class="boton-Guardar">Enviar</button>
</form>

<div class="div-preguntas">
  {% if respuesta %}
    <img class="img-mercurio" src="{% static '/style/img/mercurio.png' %}" alt="">
    <div class="mercurio-div" ><a href="https://solarsystem.nasa.gov/planets/mercury/overview/">Mercurio</a></div>
    
    <h1 class="encabezado-respuesta">Respuesta del cuestionario</h1>
    {% for answer in respuesta.values %}

      {% if answer == True %}
        <p class="answerCorrect">Pregunta {{ forloop.counter }}: Correcto ✅ </p>
      {% else %} 
        <p class="answerIncorrect">Pregunta {{ forloop.counter }}: Incorrecto ❌</p>
      {% endif %}
     {% endfor %}
  {% else %}
    <h1 class="encabezado-responder-cuestionario">Contesta el cuestionario para ver tu aprendizaje</h1>
  {% endif %}
  
</div>

{% endblock %}
