
.ask{
    background: rgba(170, 165, 165, 0.308);
    padding: 10px;
    border-radius: 10px; 

}

.test-mercurio{
    text-align: left;
    background: rgba(170, 165, 165, 0.308);
    padding: 10px;
    border-radius: 10px;
    
}

